.title{
	color: #fff;
	text-align: center;
	font-size: 14px;
	letter-spacing: 3px;
	padding:12px 0;
	background-color: #222;
}

nav ul li{
	text-align: center;
	width:25%;
	float: left;
	padding:12px 0;
	background-color: #bbb;
}
nav ul li a{
	display: block;
}
